*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    flex-wrap: wrap-reverse;
}
header{
    background-color: black;
    color:#ffffff;
    text-align: center;
    position: sticky;
    top: 0;
}
.box-container{
    width: 100%;
    height:700px ;
    background-image: url(/img/background2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#00337C;
}
.box-container h1{
    margin: 20px;
    text-align: center;
    color: #ffff;
    font-size: 30px;
}
.box-container a{
    text-decoration: none;
    background-color: #ffff;
    font-size: larger;
    color:#00337C;
    width: 150px;
    text-align: center;
}
.box-container a:hover{
    background-color: #FFACAC;
    color:#ffff;
}
.box-container1 h1{
    margin: 20px;
    text-align: center;
    color:#00337C;
    font-size: 30px;
}
.box-container1 p{
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  color:#00337C;
}
.box-container2{
    margin: 50px 0px 50px 0px;
    width: 100%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.box-container2 img{
    width: 500px;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
}
.box-container3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    color:#00337C;
}
.text {
    width: 400px;
    text-align: center;
}
.text h4{
    padding: 10px;
}
.text-link a{
    margin-top: 40px;
  text-decoration: none;
}
.img1{
    width: 500px;
    height: 500px;
    display:flex;
    justify-content: space-evenly;
}
.text-box{
    margin: 100px 0px 0px 0px;
    text-align: center;
    font-size: larger;
    color:#00337C;
    text-transform: capitalize;
}
.box-container4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    color:#00337C;
}
.icon-item {
    width: 300px;
    margin: 20px;
}

.icon-item i {
    text-align: center;
    display: block;
}
.icon-item h4 {
    margin-top: 10px;
    text-align: center;
}

.icon-item p {
    font-size: 15px;
    text-align: center;
}
.text-header h1{
    text-align: center;
    margin: 30px 0px 50px 0px;
    color:#00337C;
    font-size: 30px;
}
.friend-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.friend-gallery ul,.row1,.row2,.row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row1 img{
    width:303px;
    height:400px;
    object-fit: cover;
    flex-grow: 0;
}
.row2 img{
    width:303px;
    height:400px;
    object-fit: cover;
}
.row3 img{
    width:303px;
    height:400px;
    object-fit: cover;
}
.row2,.image1-2{
    display: flex;
    flex-grow: 1;
}
.row3,.image1-2{
    display: flex;
    flex-grow: 1;
}
section{
    margin-bottom: 100px;
}
address{
    text-align: center;
}
footer p{
    text-align: center;
    color: #00337C;
}
